$stansardHeight:.2rem;
.dingo{
    div{
        background-color: rgb(98, 97, 97);
    }
    display: flex;
    flex-direction: column;
    background-color: white !important;
    align-items: center;
}
.head_1{
    width: 2rem;
    height: .2rem;
}
.head_2{
width: calc(2rem + 0.4rem);
height: calc($stansardHeight * 5);
position: relative;
}
.eye{
    background-color: white !important ;
    position: absolute;
    top: 1px;
    left: 5px;
    height: $stansardHeight;
    width: .2rem;
}
.mouth{
    display: flex;
    width:  calc(2rem + 0.4rem);
}

.mainhead{
    display: flex;
    flex-direction: column;
    background-color: white !important;
    align-items: center;
}
.head_3{
    background-color: white !important;
    width: calc(2.4rem / 2);
height: $stansardHeight;
}

.head_4{
    width: calc(2.4rem / 2);
height: $stansardHeight;
}
.mouth_end{
 @extend .mouth ;
}

.head_5{
width: calc(2.4rem / 2 + .2rem * 5);
height: $stansardHeight;
}
.head_6{
    background-color: white !important;
    width: calc(2.4rem / 2 - .6rem);
height: $stansardHeight; 
}
.body_1{
    width: 1.5rem;
    height: $stansardHeight;
}
.body_2{
    background-color: white !important;
    width: 1.8rem;
}
.body_1_container{
    display: flex;
    width:  calc(2rem + 0.6rem);
}


.body_3{
    width: 2.2rem;
    height: $stansardHeight;
}
.body_4{
    background-color: white !important;
    width:5rem;
}
.body_3_container{
    display: flex;
    width:6rem;
}
.body_4_W{
    width: 2.2rem;
    height: $stansardHeight; 
    background-color: rgb(255, 255, 255) !important;
}
.body_4_F{
    // background-color: blue !important;
    width: $stansardHeight;
    height: $stansardHeight;
}



.body_4_2{
    width: 4.2rem;
    height: $stansardHeight;
}
.body_5{
    background-color: white !important;
    width:5rem;
}
.body_4_container{
    display: flex;
    width:6rem;
    position: relative;
}
.body_5_W{
    width: 2.2rem;
    height: $stansardHeight; 
    background-color: rgb(255, 255, 255) !important;
}
.body_5_F{
    // background-color: blue !important;
    width: .5rem;
    height: $stansardHeight;
}

.Body_hand_side{
    display: flex;
    width:6rem;
height: $stansardHeight;
}
.Body_hand_1{
width: 2rem;
height: $stansardHeight;

}
.Body_hand_2{
    background-color: white !important;
width: 4.5rem;
height: $stansardHeight;
}
.Body_hand_3{
width: 9.2rem;
height: $stansardHeight;
}
.Body_hand_4{
background-color: white !important;
width: 15.5rem;
height: $stansardHeight;
}



.Body_hand_5{
    position: absolute;
    width: .2rem;
    height: $stansardHeight;
    right: 2.52rem;
    top: 0.2rem;
}

.body_main{
    display: flex;
    width: 6rem;
}
.body_main_1{
    width: 7rem;
    height: calc($stansardHeight * 2);
}
.body_main_2{
    width: 6.9rem;
    background-color: white !important;
}